body {
    background: aqua;

}
#section {
    background-color: #fff7ff;
}



#main-img{
    width: 1500px;
}

aside .logo {
    font-size: 40px;
    margind-left: 10px;
    font-weight: bold;
    position: relative;
    top: -5px;
}

aside h3{
    margin-top: 50px;
    font-size: 25px;
}
aside ul {list-style: none}

aside ul li{
    color: blue;
    display: block;
    margin-top: 20px;
    transition: transform .6s ease;
}

aside ul li:hover, aside ul a:hover{
    color: chartreuse;
    text-decoration: none;
    transform: scale(1.05);
}

.alert-warning{
    float: left;
    clear: both;
    width: 200px;
    margin: 20px 34%;
    text-align: left;
}

main .features{
    float: left;
    color: blue;
    margin-top: 100px;
    text-align: center;
    width: 75%;
}

main .features h1 {font-size: 50px;}
main .features p {max-width: 400px; margin: 20px auto}